 
 h3
 {
  color: 81d1fc;
  font-style: italic;
  padding:25px
 } 
p {
   font-style: oblique;
   font-family:Serif;
   font-size:13pt;
}
 h4
 {
  color:lavender;
  font-family:Cursive;
  font-size:16pt;
  padding:10px
  } 

